@font-face {
  font-family: 'SyncopateBold';
  src: local('Syncopate-Bold'), url(./assets/fonts/Syncopate-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'SyncopateRegular';
  src: local('Syncopate-Regular'), url(./assets/fonts/Syncopate-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('Roboto-Medium'), url(./assets/fonts/Roboto-Medium.ttf) format('opentype');
}
@font-face {
  font-family: 'RobotoLight';
  src: local('Roboto-Light'), url(./assets/fonts/Roboto-Light.ttf) format('opentype');
}

:root {
  --color-black: #121212;
  --color-white: #F2F2F2;
  --color-yellow:  #ECC06F;
  --color-line: #F5D79E;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(84,56,8,1) 100%);
  color: var(--color-white)!important;
  margin: 0;
  font-family: -apple-system, RobotoLight, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  width: 100%;
}
.navbar-black {
  position: fixed;
  width: 100%;
  background-color: transparent!important;
}

.navbar-black.scrolled {
  background-color:  rgb(33 37 41 / 63%)!important;
  transition: background-color 200ms linear;
}

a {
  font-family: RobotoLight!important;
  color: var(--color-white)!important;
}

a:hover {
  color: var(--color-yellow)!important;
}
.active a {
  color: var(--color-yellow)!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}
.bg-banner {
  background-color: #030303;
}

h1 {
  font-family: SyncopateBold;
}
p span {
  font-family: RobotoMedium;
}
.colordisabled {
  color: #3e3e3f;
}
.l-SyncopateBold {
  font-family: SyncopateBold;
}
.rleft{
  Box-shadow: -3px 0px 0px 0px var(--color-line);
  padding-left: 5px;
}
.btn-native {
  padding: 5px;
  width: 100%;
  cursor: pointer;
  height: 50px;
  background:
          linear-gradient(to right, var(--color-line) 0px, transparent 0px) 0 0,
          linear-gradient(to right, var(--color-line) 1px, transparent 1px) 0 100%,
          linear-gradient(to left, var(--color-line) 1px, transparent 1px) 100% 0,
          linear-gradient(to left, var(--color-line) 0px, transparent 0px) 100% 100%,
          /*linear-gradient(to bottom, var(--color-line) 0px, transparent 0px) 0 0,*/
          linear-gradient(to bottom, var(--color-line) 1px, transparent 1px) 100% 0,
          linear-gradient(to top,var(--color-line) 1px, transparent 1px) 0 100%,
          linear-gradient(to top, var(--color-line) 0px, transparent 0px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.btn-native-child {
  background-color: transparent;
  border: solid 1px var(--color-white)!important;
  color: var(--color-white)!important;
  font-family: SyncopateBold;
  font-size: 12px;
  border-radius: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: block;
  height: 100%;
  text-align: center;
}
.borderTable{
  border: solid 3px #F6DAA6;
  box-shadow: inset 0px 0px 23px 5px rgb(236 192 111 / 40%), 0px 0px 23px 5px rgb(236 192 111 / 40%)
}
.titleYellow {
  color: var(--color-yellow)!important;
}
.pt-10 {
  padding-top: 10rem;
}
.pb-10 {
   padding-bottom: 10rem;
}
.logoImg {
  width: 10rem!important;
  top: -25px;
  position: relative;
  background-color: #000;
  box-shadow: 0px 0px 15px 14px #000;
  padding-bottom: 0px!important;
}
.owl-theme .owl-dots {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  font-size: 25px!important;
  border-radius: 100% !important;
  border: solid!important;
  width: 3rem!important;
  height: 3rem!important;
}

.big-image__video-background {
  mix-blend-mode: lighten;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: fixed;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}
.ImgOne {
  width: 20rem;
}
.ImgTwo {
  position: absolute;
  width: 20rem;
  margin-top: 6rem;
  margin-left: -10rem;
}

.accordion-item {
  background-color:  transparent!important;
  border-bottom: solid 1px #fff!important;
  color: var(--color-white)!important;;
}
.accordion-button {
  background-color: transparent!important;
  border-bottom: solid 1px #fff!important;
  color:var(--color-white)!important;;
}
.accordion-button:not(.collapsed) {
  color: var(--color-white)!important;;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--color-white)!important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}
.bg-images {
  background-image: url("assets/images/imagesfooter.png");
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.borderCircle {
  border-radius: 100%;
  border: solid 1px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  position: absolute;
  padding: 17px;
}
.navbar-expand-lg .navbar-collapse {
  right: 0!important;
  flex: revert!important;
}
@media(max-width: 670px) {
  .row {
    margin: 0px;
  }
  .pt-10 {
    padding-top: 2rem;
  }
  .pb-10 {
    padding-bottom: 2rem;
  }
  .ImgOne {
    width: 12rem;
  }
  .ImgTwo {
    position: absolute;
    width: 12rem;
    margin-top: 3rem;
    margin-left: -5rem;
  }
}
